<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.50.2" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="Selene.Support" version="1.0.0.4" targetFramework="net452" />
  <package id="Selenium.Support" version="2.53.1" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="2.53.1" targetFramework="net452" />
  <package id="SeSugar" version="1.0.0.15" targetFramework="net452" />
  <package id="SeSugar.Interfaces" version="1.0.0.15" targetFramework="net452" />
</packages>