<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="TestSettings.TestDefaults" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<TestSettings.TestDefaults>
			<setting name="Password" serializeAs="String">
				<value>Pa$$w0rd</value>
			</setting>
			<setting name="TimeOut" serializeAs="String">
				<value>00:00:59</value>
			</setting>
			<setting name="HeadTeacher" serializeAs="String">
				<value>Grosg1@capita.co.uk</value>
			</setting>
			<setting name="HeadTeacherPassword" serializeAs="String">
				<value>Pa$$w0rd</value>
			</setting>
			<setting name="SystemManger" serializeAs="String">
				<value>SystemManager@capita.co.uk</value>
			</setting>
			<setting name="SystemMangerPassword" serializeAs="String">
				<value>Pa$$w0rd01.</value>
			</setting>
			<setting name="SchoolAdministrator" serializeAs="String">
				<value>SchoolAdmin@capita.co.uk</value>
			</setting>
			<setting name="SchoolAdministratorPassword" serializeAs="String">
				<value>Pa$$w0rd01.</value>
			</setting>
			<setting name="AssessmentCoordinator" serializeAs="String">
				<value>AssessCoord@capita.co.uk</value>
			</setting>
			<setting name="AssessmentCoordinatorPassword" serializeAs="String">
				<value>Pa$$w0rd01.</value>
			</setting>
			<setting name="CurricularManager" serializeAs="String">
				<value>CurrManager@capita.co.uk</value>
			</setting>
			<setting name="CurricularManagerPassword" serializeAs="String">
				<value>Pa$$w0rd01.</value>
			</setting>
			<setting name="SeniorManagementTeam" serializeAs="String">
				<value>SeniorManager@capita.co.uk</value>
			</setting>
			<setting name="SeniorManagementTeamPassword" serializeAs="String">
				<value>Pa$$w0rd01.</value>
			</setting>
			<setting name="SENCoordinator" serializeAs="String">
				<value>SENCoord@capita.co.uk</value>
			</setting>
			<setting name="SENCoordinatorPassword" serializeAs="String">
				<value>Pa$$w0rd01.</value>
			</setting>
			<setting name="PersonnelOfficer" serializeAs="String">
				<value>Personnel@capita.co.uk</value>
			</setting>
			<setting name="PersonnelOfficerPassword" serializeAs="String">
				<value>Pa$$w0rd01.</value>
			</setting>
			<setting name="ClassTeacher" serializeAs="String">
				<value>Teacher@capita.co.uk</value>
			</setting>
			<setting name="ClassTeacherPassword" serializeAs="String">
				<value>Pa$$w0rd01.</value>
			</setting>
			<setting name="AdmissionsOfficer" serializeAs="String">
				<value>Admissions@capita.co.uk</value>
			</setting>
			<setting name="AdmissionsOfficerPassword" serializeAs="String">
				<value>Pa$$w0rd01.</value>
			</setting>
			<setting name="ReturnsManager" serializeAs="String">
				<value>Returns@capita.co.uk</value>
			</setting>
			<setting name="ReturnsManagerPassword" serializeAs="String">
				<value>Pa$$w0rd01.</value>
			</setting>
			<setting name="TimeOutDebug" serializeAs="String">
				<value>00:05:00</value>
			</setting>
			<setting name="ApplicationServerPath" serializeAs="String">
				<value>iSIMSApplicationServerFarm1/DataEntityIO.svc/Transport</value>
			</setting>
			<setting name="SecurityServerPath" serializeAs="String">
				<value>iSIMSAuthorisationServerFarm1/iSIMSSTS.UnsignedUserName.svc</value>
			</setting>
			<setting name="TestUser" serializeAs="String">
				<value>testuser@capita.co.uk</value>
			</setting>
			<setting name="SchoolName" serializeAs="String">
				<value>Water's Edge Primary School</value>
			</setting>
			<setting name="TenantId" serializeAs="String">
				<value>1019999</value>
			</setting>
			<setting name="TestUserPassword" serializeAs="String">
				<value>Pa$$w0rd</value>
			</setting>
			<setting name="Path" serializeAs="String">
				<value>iSIMSMVCClientFarm1</value>
			</setting>
			<setting name="SchoolAdministratorUser" serializeAs="String">
				<value>SchoolAdmin@capita.co.uk</value>
			</setting>
			<setting name="PersonnelOfficerUser" serializeAs="String">
				<value>Personnel@capita.co.uk</value>
			</setting>
			<setting name="SchoolID" serializeAs="String">
				<value>72262E2D-B292-E511-B386-000C29A7BA92</value>
			</setting>
			<setting name="User" serializeAs="String">
				<value>testuser@capita.co.uk</value>
			</setting>
			<setting name="AjaxElementTimeOut" serializeAs="String">
				<value>00:04:30</value>
			</setting>
			<setting name="ObjectTimeOut" serializeAs="String">
				<value>75</value>
			</setting>
			<setting name="WaitLoading" serializeAs="String">
				<value>00:00:05</value>
			</setting>
			<setting name="PathAvatar" serializeAs="String">
				<value>C:\Resource\avatar.png</value>
			</setting>
			<setting name="PathDocument" serializeAs="String">
				<value>C:\Resource\document.txt</value>
			</setting>
			<setting name="ElementTimeOut" serializeAs="String">
				<value>00:00:10</value>
			</setting>
			<setting name="URL" serializeAs="String">
				<value>https://lab-five.sims8.com/</value>
			</setting>
			<setting name="DatabaseConnectionString" serializeAs="String">
				<value>Data Source=lab-five.sims8.com;Initial Catalog=SIMS8_Farm1_Business_A;User ID=sa;Password=Pa$$w0rd</value>
			</setting>
			<setting name="LabTwoURL" serializeAs="String">
				<value>https://lab-two.sims8.com/</value>
			</setting>
			<setting name="LabTwoDatabaseConnectionString" serializeAs="String">
				<value>Data Source=lab-two.sims8.com;Initial Catalog=SIMS8_Farm1_Business_A;User ID=sa;Password=Pa$$w0rd</value>
			</setting>
			<setting name="LabFiveURL" serializeAs="String">
				<value>https://lab-five.sims8.com/</value>
			</setting>
			<setting name="LabFiveDatabaseConnectionString" serializeAs="String">
				<value>Data Source=lab-five.sims8.com;Initial Catalog=SIMS8_Farm1_Business_A;User ID=sa;Password=Pa$$w0rd</value>
			</setting>
			<setting name="LabSims8URL" serializeAs="String">
				<value>https://lab-sims8.sims8.com/</value>
			</setting>
			<setting name="LabSims8DatabaseConnectionString" serializeAs="String">
				<value>Data Source=lab-sims8.sims8.com;Initial Catalog=SIMS8_Farm1_Business_A;User ID=sa;Password=Pa$$w0rd</value>
			</setting>
			<setting name="LabSIXURL" serializeAs="String">
				<value>https://lab-six.sims8.com/</value>
			</setting>
			<setting name="LabSIXDatabaseConnectionString" serializeAs="String">
				<value>Data Source=lab-six.sims8.com;Initial Catalog=SIMS8_Farm1_Business_A;User ID=sa;Password=Pa$$w0rd</value>
			</setting>
      <setting name="Proxy" serializeAs="String">
        <value></value>
      </setting>
    </TestSettings.TestDefaults>
	</userSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>