<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositorypath" value="..\Packages" />
    <add key="dependencyversion" value="Highest" />
  </config>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageRestore>
    <!-- Allow NuGet to download missing packages -->
    <add key="enabled" value="True" />
    <!-- Automatically check for missing packages during build in Visual Studio -->
    <add key="automatic" value="True" />
  </packageRestore>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSources>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="nuget.org v3" value="https://api.nuget.org/v3/index.json" />
    <add key="SIMS NuGet Server" value="http://stag-selenium01/nuget/" />
    <add key="SIMS VSTS NuGet Server" value="https://simsprimarydevelopment.pkgs.visualstudio.com/_packaging/SIMSNuget/nuget/v3/index.json" />
    <add key="SIMS VSTS NuGet v2" value="https://simsprimarydevelopment.pkgs.visualstudio.com/_packaging/SIMSNuget/nuget/v2" />
    <add key="Microsoft and .Net" value="https://www.nuget.org/api/v2/curated-feeds/microsoftdotnet/" />
  </packageSources>
  <disabledPackageSources>
    <add key="SIMS NuGet Server" value="true" />
  </disabledPackageSources>
</configuration>