<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <ws2007FederationHttpBinding>
                <binding name="compressedSignedHttps(SSLSignature)_IDataEntityIO">
                    <security mode="TransportWithMessageCredential">
                        <message establishSecurityContext="false" issuedKeyType="BearerKey">
                            <tokenRequestParameters>
                                <trust:SecondaryParameters xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">
                                    <trust:KeyType xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://docs.oasis-open.org/ws-sx/ws-trust/200512/Bearer</trust:KeyType>
                                </trust:SecondaryParameters>
                            </tokenRequestParameters>
                        </message>
                    </security>
                </binding>
            </ws2007FederationHttpBinding>
            <wsHttpBinding>
                <binding name="compressedUnsignedHttps_IDataEntityIO">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
            </wsHttpBinding>
            <ws2007HttpBinding>
                <binding name="uncompressedSignedHttps(UserNameSignature)_IWSTrust13Sync">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" establishSecurityContext="false" />
                    </security>
                </binding>
            </ws2007HttpBinding>
        </bindings>
        <client>
            <endpoint address="https://w7pc6655.css.ad.capita.co.uk:95/iSIMSApplicationServer/DataEntityIO.svc/Transport" binding="ws2007FederationHttpBinding" bindingConfiguration="compressedSignedHttps(SSLSignature)_IDataEntityIO" contract="DataEntityIO.IDataEntityIO" name="compressedSignedHttps(SSLSignature)_IDataEntityIO" />
            <endpoint address="https://w7pc6655.css.ad.capita.co.uk:95/iSIMSApplicationServer/DataEntityIO.svc/None" binding="wsHttpBinding" bindingConfiguration="compressedUnsignedHttps_IDataEntityIO" contract="DataEntityIO.IDataEntityIO" name="compressedUnsignedHttps_IDataEntityIO" />
            <endpoint address="https://w7pc6655.css.ad.capita.co.uk:95/iSIMSSecurityServer/iSIMSSTS.UnsignedUserName.svc" binding="ws2007HttpBinding" bindingConfiguration="uncompressedSignedHttps(UserNameSignature)_IWSTrust13Sync" contract="UnsignedUserName.IWSTrust13Sync" name="uncompressedSignedHttps(UserNameSignature)_IWSTrust13Sync" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>