<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GetDataViaNdbUnit.Properties.Settings.SIMS8_Farm1_Business_1019999ConnectionString" connectionString="Data Source=lab-two.sims8.com;Initial Catalog=SIMS8_Farm1_Business_1019999;Persist Security Info=True;User ID=sa;Password=Pa$$w0rd" providerName="System.Data.SqlClient" />
    </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>